<h1>Posts are Here</h1>
<%= link_to 'New Post', new_post_path %>

<table>
  <tr>
    <th>Title</th>
    <th colspan = "2"></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.image.url(:thumb) %></td>
      <td><%= post.title %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <% end %>
</table>
