<style>
p{
  font-size: 30px;
  text-align:left;
  padding-top: 10px;
  font-family: monospace;
}
h1{
  color:#8E0098;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  font-family: monospace;
  letter-spacing: 3px;
  text-shadow: 4px 2px 8px gold;
}
th{
  font-family:monospace;
  font-size: 30px;
  text-align: center;
  padding-right:20px;
}
td{
  font-family:monospace;
  font-size: 30px;
  text-align: center;
  padding-right:25px;

}
.table-bordered td, .table-bordered th{
    border-color: black !important;
}
</style>
<h1>Posts are Here</h1>

<div class="container">
<p><%= link_to 'New Post', new_post_path, class: "btn btn-primary" %></p>
  <table class="table table-bordered">
    <tr>
      <th>Photos</th>
      <th>Title</th>
      <th>Date Created</th>
    </tr>
  
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.image.url(:thumb) %></td>
        <td>
          <%= link_to(post_path(post)) do %>
            <%= post.title %>
          <% end %>
        </td>
        <td><%= post.created_at.strftime("%m-%d-%Y") %></td>
    <% end %>
  </table>
</div>
