<!DOCTYPE html>
<html>
  <head>
    <title>LostNFound</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if logged_in? %>
              <li><%= link_to "Listings", posts_path %></li>
            <% else %>
              <li><%= link_to "Listings", restrict_path  %></li>
            <% end %>
            <li><a href="about">About Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to "<i class='glyphicon glyphicon-user'></i>".html_safe, '#'%></li>
              <li><a href="#"><%= @current_user.username %></a></li>
              <li><%= link_to "<i class='glyphicon glyphicon-log-out'></i> Logout".html_safe, logout_path, method: :delete %></li>
            <% else %>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center">
      <div class="row content">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <div class="col-sm-12 text-center">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
